<!-- // EJEMPLO PrimeNg y Pipes
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-help"
  label="Cambiar Nombre"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un Subheader">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ex provident
  beatae nesciunt cum eligendi explicabo enim veniam sed quos!
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
