<!-- TIPOS DE PIPES -->
<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en angular - Usualmente en el Common Module</p>
</div>

<!-- Cada row tiene 12 columnas -->
<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="nombreLower | uppercase">
      {{ nombreLower }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
      {{ nombreUpper }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
      {{ nombreCompleto }}
    </p-card>
  </div>
</div>

<!-- https://angular.io/api/common/DatePipe -->
<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date: "short"</li>
        <li>fecha | date: "long"</li>
        <li>fecha | date: "fullDate"</li>
        <li>fecha | date: "longDate"</li>
        <li>fecha | date: "mediumDate"</li>
        <li>fecha | date: "MMMM"</li>
        <li>fecha | date: "dd,MMMM,yyyy"</li>
        <li>fecha | date: "shortTime"</li>
      </ul>

      <hr />

      <ul>
        <li>fecha | date: "long":"GMT-6"</li>
        <li>fecha | date: "long":"GMT-4"</li>
        <li>fecha | date: "long":"":"en"</li>
        <li>fecha | date: "long":"":"fr"</li>
        <!-- 'en' se importa por defecto, 'fr' y 'es' se importa en el app.module  -->
      </ul>
    </p-card>
  </div>

  <div class="p-col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "short" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "fullDate" }}</li>
        <li>{{ fecha | date: "longDate" }}</li>
        <li>{{ fecha | date: "mediumDate" }}</li>
        <li>{{ fecha | date: "MMMM" }}</li>
        <li>{{ fecha | date: "MMMM" }}</li>
        <li>{{ fecha | date: "dd,MMMM,yyyy" }}</li>
        <li>{{ fecha | date: "shortTime" }}</li>
      </ul>

      <hr />

      <ul>
        <li>{{ fecha | date: "long":"GMT-6" }}</li>
        <li>{{ fecha | date: "long":"GMT-4" }}</li>
        <li>{{ fecha | date: "long":"":"en" }}</li>
        <li>{{ fecha | date: "long":"":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
