<!-- TIPOS DE PIPES CON DECIMALES-->
<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluidos en angular - Usualmente en el Common Module</p>
</div>

<!-- https://primefaces.org/primeng/showcase/#/fieldset -->
<div class="p-grid">
  <div class="p-col p-md-6 p-sm-9">
    <p-fieldset legend="i18nSelectPipe" [toggleable]="true">
      Content
    </p-fieldset>
  </div>

  <div class="p-col p-md-6 p-sm-9">
    <p-fieldset legend="i18nPluralPipe" [toggleable]="true">
      Content
    </p-fieldset>
  </div>
</div>
