<div *ngIf="!pais; else divPais" class="alert alert-info">Espere por favor</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        País: <small>{{ pais.name }}</small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flag" class="medium-flag" />
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población: </strong> {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Capital: </strong> {{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Código Numérico: </strong> {{ pais.numericCode }}
        </li>
        <li class="list-group-item">
          <strong>Código alpha3: </strong> {{ pais.alpha3Code }}
        </li>
      </ul>
    </div>
  </div>

  <h3 class="mt-5">Traducciones</h3>

  <ul class="row mt-3">
    <li><b>Alemán</b> : {{ pais.translations.de }}</li>
    <li><b>Español</b>: {{ pais.translations.es }}</li>
    <li><b>Francés</b>: {{ pais.translations.fr }}</li>
    <li><b>Japonés</b>: {{ pais.translations.ja }}</li>
    <li><b>Italiano</b>: {{ pais.translations.it }}</li>
    <li><b>Portugués</b>: {{ pais.translations.pt }}</li>
    <li><b>Holandés</b>: {{ pais.translations.nl }}</li>
    <li><b>Esloveno</b>: {{ pais.translations.hr }}</li>
    <li><b>Persa</b>: {{ pais.translations.fa }}</li>
  </ul>

  <!-- 
  <h3 class="mt-5">País info:</h3>
  <pre class="mt-2">
      {{ pais | json }}
  </pre> -->
</ng-template>
