html,
body {
  margin: 10px;
  background-color: var(--surface-b);
  font-family: var(--font-family);
  /* utiliza las variables indicadas en el theme vela-blue de angular.json->styles */
}

.text-layout {
  color: var(--text-color);
}
